# To apply to svn, type: 'svn propset svn:ignore -F .gitignore .'
COPYING
config.status
config.log
libtool
stamp-h1
Makefile
.deps
config.h
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2.spec
xml2-config
