INTRO
-----
Welcome to the degrib program (and associated suite).  To 
compile, you need to run the correct 'config-xxx.sh' file
depending on your operating system, and then 'make'.  

The config-xxx.sh script sets some variables and then calls 
'configure', so if there is no "config-xxx.sh" for your system, 
you can try:
1) "configure --help" to see the various choices
2) Looking at other config-xxx.sh scripts. 
If you develop a new config-xxx.sh please pass it to me at
arthur.taylor@noaa.gov

'configure' looks at your system and attempt to determine 
various system settings, in order for it to create makefiles.
Note: If you have to "recreate" configure, you should run 
"autoconf -I./aclocal"

'make' looks over the makefiles and based on the rules in there
it builds the libraries found in subdirectories of /src.  After
that, it calls /src/degrib/Makefile to compile the programs 
(clock, drawshp, degrib, degrib_DP, tcldegrib, and tkdegrib).  
Assuming it finishes compiling them, it copies the programs from
/src/degrib to /bin.  The order of the compilation is from easiest
to hardest, so that if it fails, but you only needed an easy one, 
you can proceed on your way.

CURRENT AVAILABLE CONFIG-XXX.SH SCRIPTS
---------------------------------------
	config-win.sh (for typical MS-Windows (aka mingw) configs.)
	config-linux.sh (for typical linux configs.)
	config-macosx.sh (for typical Mac OS X configs.)
	config-aix32.sh (for typical 32 bit configs on AIX systems)
	config-aix64.sh (for typical 64 bit configs on AIX systems)
	config-cyg.sh (for typical Cygwin configs.)
	config-debug.sh (for debugging mode)

config-win.sh:
	configure CFLAGS="-O3" TCL_PREFIX=c:/tcl832 TCL_VERSION=83

config-linux.sh:
	configure CFLAGS="-O3"
	#configure CFLAGS="-O3" TCL_PREFIX=/usr/local/tcltk TCL_VERSION=8.4

config-macosx.sh:
	configure CFLAGS="-O3"
	#configure CFLAGS="-O3" TCL_PREFIX=/usr/local/tcltk TCL_VERSION=8.4

config-aix32.sh:
	configure CC=cc CFLAGS="-O" --with-aixsize=32 TCL_PREFIX=/mdl2/save/bin/tcltk TCL_VERSION=8.4

config-aix64.sh:
	configure CC=cc CFLAGS="-O" TCL_PREFIX=/mdl2/save/bin/tcltk TCL_VERSION=8.4

config-cyg.sh:
	configure CFLAGS="-O3" --with-cygwin

config-debug.sh:
	configure CFLAGS="-O3" TCL_PREFIX=c:/tcl832 TCL_VERSION=83 --with-memwatch --with-tkputs --with-debug

COMMON ISSUES
-------------
1) <config-linux.sh>
' libtclx8.3.so: undefined reference to `Tcl_CreateChannelHandler''
--> add TCL_PREFIX=abs_path
--> May also need TCL_VERSION=8.4

Arthur Taylor
8/15/2007
