Welcome to the degrib program (and associated suite).

To compile, you need to run:
	configure
	make

Configure should look at your system and attempt to determine 
various system settings, in order for it to create makefiles.

The makefiles in turn are used to compile the program.  The 
/src/makefile controls the process by calling various makefiles
in the library subdirectories of /src/.  After it is done, it
call /src/degrib/makefile to compile the programs (clock, drawshp,
degrib, degrib_DP, tcldegrib, and tkdegrib)...  Assuming it 
finishes compiling them, it will copy the files from /src/degrib to
/bin.  The order of the compilation is from easiest to hardest, 
so that if it fails, but you only needed an easy one, you can 
proceed on your way.

Configure takes several options.  Type "configure --help" for the
various choices.

I have created:
	config-win.sh (for typical MS-Windows (aka mingw) configs.)
	config-linux.sh (for typical linux configs.)
	config-aix32.sh (for typical 32 bit configs on AIX systems)
	config-aix64.sh (for typical 64 bit configs on AIX systems)
	config-cyg.sh (for typical Cygwin configs.)
	config-debug.sh (for debugging mode)


 



Arthur Taylor
8/15/2007
